
body{
  background-color: rgba(245, 245, 245, 0.534);
}

.container{
  max-width: 1200px;
  margin: 0 auto; /* Centralizando o conteúdo*/
}
.menu {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}

.menu-flex {
display: flex;
align-items: center;
}

.menu-column {
display: flex;
align-items: center;
width: 50%;
justify-content: flex-start;
}

.menu-column.menu-second-column {
justify-content: flex-end;
}

.menu-nav ul {
display: flex;
list-style: none;
gap: 10px; /* Vamos utilizar essa propriedade do flex para colocar um espaçamento entre os elementos*/
}

.menu-nav ul li a {
text-decoration: none;
color: #585e65;
}

.menu-link-button {
text-decoration: none;
height: 48px;
background-color: #4c6ef5;
color: #fff;
padding: 0 32px;
display: flex;
align-items: center;
border-radius: 4px;
}
ul li{
  list-style: none;
}
.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cards{
  padding: 30px;
  margin: 5px;
  width: 210px;
  height: 290px;
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-block;
  text-align:start;
}
.logo-card{
  display: flex;
  justify-content: center;
}
.cards img{
  height: 130px;
  width: 150px;
  border-radius: 4px;
}
.cards button{
  color: #ffffff;
  background-color: #4c6ef5;
  border-radius: 5px;
  border-color: #4c6ef5;
  padding: 15px 30px;
  width: 100%;
}
.description{
  
  background-color: #fff;
}
.description p{
  text-align:start ;
}
